<a href="https://colab.research.google.com/github/AndresGarciaO/MineriaDatos/blob/main/Tarea_Ejercicios_basicos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [38]:
nombre= "Jose Andres Garcia Ortega"
matricula= "1941488"

print(nombre,matricula)

Jose Andres Garcia Ortega 1941488

# **Ejercicio 2:**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [44]:
def Calculadora():
    print("\n\nCalculadora\n 1)Suma\n 2)Resta\n 3)Multiplicacion\n 4)Division\n 5)Exponencial\n 0)Salir")
val=0
while val != 6 :
    Calculadora()
    val=int(input("Introduzca la opcion deseada: "))
    if val == 0 :
        break
    if  val>=6:
        print("Favor de introducir una opcion valida")
        Calculadora()
        val=int(input("Introduzca la opcion deseada: "))    
    a=float(input("Introduzca el primer valor: "))
    b=float(input("Indroduzca el segundo valor: "))
    
    if val==1:
        print("El resultado es", a+b)
    elif val==2:
        print("El resultado es", a-b)
    elif val==3:
        print("El resultado es ", a*b)
    elif val==4:
        if a2==0:
             print("Valores no validos")
        else:
             print("El resultado es ", a/b)
    elif val==5 :
        print("El resultado es ", a**b)
    else:
        print("Favor de introducir una opcion valida")

Calculadora
 1)Suma
 2)Resta
 3)Multiplicacion
 4)Division
 5)Exponencial
 0)Salir
Introduzca la opcion deseada: 3
Introduzca el primer valor: 7
Indroduzca el segundo valor: 10
El resultado es  70.0


Calculadora
 1)Suma
 2)Resta
 3)Multiplicacion
 4)Division
 5)Exponencial
 0)Salir
Introduzca la opcion deseada: 0

# **Ejercicio 3:**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [27]:
x=3
su=0
ac=0
mul= []
while ac < 10:
    if x%3==0:
        mul.append(x)
        su = su + x
        ac = ac + 1
    x=x+1
print("Los multiplos del 3 son: ", mul)
print("Suma de los multiplos : ", su)

Los multiplos del 3 son:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma de los multiplos :  165

# **Ejercicio 4**

* Con una función de if else, revisar si un número es par o es impar.

* Con una función de if else, revisar si un número es primo o no.

In [36]:
print("\nSaber si un numero es par o impar y tambien si es primo o no.")
val=int(input("Introduzcca un numero: "))
if(val%2==0):
    x=0
else:
    x=1
pri=0
for n in range (1, val+1):
    if val%n==0:
        pri=pri+1
if pri==2:
    if x==0:
      print("\n","El numero ",val," es par y es un número primo.")
    else:
      print("\n","El numero ",val," es impar y es un número primo.")
else:
    if x==0:
      print("\n","El numero ",val," es par y no es un número primo.")
    else:
      print("\n","El numero ",val," es impar y no es un número primo.")

Saber si un numero es par o impar y tambien si es primo o no.
Introduzcca un numero: 89

 El numero  89  es impar y es un número primo.

# **Ejercicio 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [43]:
class Calculadora:
    def sumar(self, a, b):
        print ('El resultado de la suma es : '+str((a+b)) )
    def restar(self, a, b):
        print ('El resultado de la resta es : '+str((a-b)) )
    def multiplicar(self, a, b):
        print ('El resultado de la multiplicacion es : '+str((a*b)) )
    def dividir(self, a, b):
        print ('El resultado de la division es : '+str((a/b)) )
    def exponente(self, a, b):
        print ('El resultado de elevar a una potencia es : '+str((a**b)) )
print("Calculadora")
cal= Calculadora()
def menu():
    print("\nOperaciones\n1) Sumar\n2) Restar\n3) Multiplicar\n4) Dividir\n5) Exponentes\n6) Salir")
    return int(input('Introduce una opcion: '))
while(True):
    opcion= menu()
    if(opcion==6):
        break
    else:
        num1= int(input('Ingresa el primer numero: '))
        num2= int(input('Ingresa el segundo numero: '))
        if(opcion==1):
            cal.sumar(num1, num2)
        elif(opcion==2):
            cal.restar(num1, num2)
        elif(opcion==3):
            cal.multiplicar(num1, num2)
        elif(opcion==4):
            cal.dividir(num1, num2)
        elif(opcion==5):
            cal.exponente(num1, num2)
        else:
            print('Opción no valida')

Calculadora

Operaciones
1) Sumar
2) Restar
3) Multiplicar
4) Dividir
5) Exponentes
6) Salir
Introduce una opcion: 3
Ingresa el primer numero: 7
Ingresa el segundo numero: 8
El resultado de la multiplicacion es : 56

Operaciones
1) Sumar
2) Restar
3) Multiplicar
4) Dividir
5) Exponentes
6) Salir
Introduce una opcion: 6

# **Tuplas**

* Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [47]:
x=12.05
var1=type(x)
y=12
var2=type(y)
IscodingFun=True 
var3=type(IscodingFun)
Com=247+3j 
var4=type(Com)
print("La variable ",x, " es de tipo",var1)
print("La variable ",y, " es de tipo", var2)
print("La variable ",IscodingFun," es de tipo",var3)
print("La variable ", Com, " es de tipo", var4)

La variable  12.05  es de tipo <class 'float'>
La variable  12  es de tipo <class 'int'>
La variable  True  es de tipo <class 'bool'>
La variable  (247+3j)  es de tipo <class 'complex'>

* Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [48]:
tupla = (1,2,3,4,5)
print("El primer valor de la tupla es:",tupla[0], "y el último es:",tupla[4],"\n")

El primer valor de la tupla es: 1 y el último es: 5

* Añadir 3 valores de string a la tupla.

In [49]:
print("¿Que valores desea añadir a la tupla")
val1= str(input('Ingresa el primer valor: '))
val2= str(input('Ingresa el segundo valor: '))
val3= str(input('Ingresa el tercer valor: '))
tupla=(val1,val2,val3,12,67,103)
print(tupla)

¿Que valores desea añadir a la tupla
Ingresa el primer valor: 1
Ingresa el segundo valor: 6
Ingresa el tercer valor: 10
('1', '6', '10', 12, 67, 103)

* Verificar si una variable existe dentro de la tupla.

In [52]:
tupla=(1,2,3,4,5)
x=int(input("Ingrese un numero a buscar:"))
if ((x in tupla)==True):
    print("Numero encontrado en la tupla")
else:
    print("Nmero no encontrado en la tupla")

Ingrese un numero a buscar:2
numero encontrado en la tupla

# **Listas**
* Crear una lista con 40 elementos aleatorios enteros.

In [54]:
import random
lis=[random.randint(0,100) for i in range(40)]
print("Los 40 elementos de la lista son:\n",lis)

Los 40 elementos de la lista son:
 [42, 83, 89, 3, 26, 58, 31, 62, 77, 78, 20, 36, 40, 24, 53, 95, 62, 7, 51, 88, 54, 37, 87, 86, 71, 49, 75, 74, 38, 98, 78, 23, 99, 61, 50, 63, 56, 18, 32, 65]

* Con una funcion (def) crear dos listas nuevas a
partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [62]:
lista=[random.randint(0,100) for i in range(40)]
lpar=[]
limpar=[]
def listas():
    for i in range(40):
        x=lista[i]%2
        if x==0:
            lpar.append(lista[i])
        else:
            limpar.append(lista[i])
    print("La lista de numeros pares:\n",lpar)
    print("La lista de numeros impares:\n",limpar)
listas()

La lista de numeros pares:
 [80, 88, 58, 76, 90, 14, 70, 26, 26, 4, 48, 84, 88, 88, 56, 72, 78]
La lista de numeros impares:
 [1, 83, 55, 91, 63, 73, 75, 11, 71, 41, 13, 79, 59, 75, 85, 49, 53, 49, 75, 83, 91, 9, 87]

* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [63]:
lpar= [80, 88, 58, 76, 90, 14, 70, 26, 26, 4, 48, 84, 88, 88, 56, 72, 78]
limpar= [1, 83, 55, 91, 63, 73, 75, 11, 71, 41, 13, 79, 59, 75, 85, 49, 53, 49, 75, 83, 91, 9, 87]

lon1=len(lpar)
lon2=len(limpar)

print("la longitud de la lista par es de",lon1)
print("la longitud de la lista impar es de", lon2)

la longitud de la lista par es de 17
la longitud de la lista impar es de 23

* Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [64]:
lpar= [80, 88, 58, 76, 90, 14, 70, 26, 26, 4, 48, 84, 88, 88, 56, 72, 78]
limpar= [1, 83, 55, 91, 63, 73, 75, 11, 71, 41, 13, 79, 59, 75, 85, 49, 53, 49, 75, 83, 91, 9, 87]
lpar.sort(reverse=True)
limpar.sort()
print("Lista par:", lpar)
print("Lista impar", limpar)

Lista par: [90, 88, 88, 88, 84, 80, 78, 76, 72, 70, 58, 56, 48, 26, 26, 14, 4]
Lista impar [1, 9, 11, 13, 41, 49, 49, 53, 55, 59, 63, 71, 73, 75, 75, 75, 79, 83, 83, 85, 87, 91, 91]

* Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [67]:
lista=[42, 83, 89, 3, 26, 58, 31, 62, 77, 78, 20, 36, 40, 24, 53, 95, 62, 7, 51, 88, 54, 37, 87, 86, 71, 49, 75, 74, 38, 98, 78, 23, 99, 61, 50, 63, 56, 18, 32, 65]
longitud=len(lista)
lista.reverse()
lista.append(52)
print("Longitud de la lista:",longitud)
print("Imprimir lista al reves: ",lista)
print("Numero mayor de los datos:",max(lista))
print("Numero mayor de los datos:",min(lista))

Longitud de la lista: 40
Imprimir lista al reves:  [65, 32, 18, 56, 63, 50, 61, 99, 23, 78, 98, 38, 74, 75, 49, 71, 86, 87, 37, 54, 88, 51, 7, 62, 95, 53, 24, 40, 36, 20, 78, 77, 62, 31, 58, 26, 3, 89, 83, 42, 52]
Numero mayor de los datos: 99
Numero mayor de los datos: 3

# **Diccionarios**
* Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [69]:
dic={'Andres':21,'Quetza':20,'Hector':20,'Mario':18,'Ana':21,'Jocelyn':21}
print(dic)

{'Andres': 21, 'Quetza': 20, 'Hector': 20, 'Mario': 18, 'Ana': 21, 'Jocelyn': 21}

* Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [70]:
dic={'Andres':21,'Quetza':20,'Hector':20,'Mario':18,'Ana':21,'Jocelyn':21}
edad=[]
for i in dic:
    if type(dic[i]) == type(98):
        edad.append(dic[i])
edad.sort()
print("Las edades son:",edad)

Las edades son: [18, 20, 20, 21, 21, 21]

* Usando el diccionario y un loop, imprimir solo los nombres.

In [71]:
dic={'Andres':21,'Quetza':20,'Hector':20,'Mario':18,'Ana':21,'Jocelyn':21}
nom=dic.keys()
print(nom)

dict_keys(['Andres', 'Quetza', 'Hector', 'Mario', 'Ana', 'Jocelyn'])

* Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [72]:
dic={'Andres':21,'Quetza':20,'Hector':20,'Mario':18,'Ana':21,'Jocelyn':21}
dic['Federico']=21
dic['Carlos']=20
print(dic)

{'Andres': 21, 'Quetza': 20, 'Hector': 20, 'Mario': 18, 'Ana': 21, 'Jocelyn': 21, 'Federico': 21, 'Carlos': 20}

# **Sets**
* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [89]:
def listSets(AB):
    lis = [0] * AB
    for i in range(AB):
          lis[i] = random.randint(1, 25)
    return lis
print("Ingrese cuantos numeros aleatorios desea obtener")
AB=int(input())
x=set(lis)
print(x)

Ingrese cuantos numeros aleatorios desea obtener
100
{3, 7, 18, 20, 23, 24, 26, 31, 32, 36, 37, 38, 40, 42, 49, 50, 51, 53, 54, 56, 58, 61, 62, 63, 65, 71, 74, 75, 77, 78, 83, 86, 87, 88, 89, 95, 98, 99}

* Comprueba la longitud de tu set.

In [77]:
import random as sete
l=set()
for i in range(100):
    s=sete.randint(1,25)
    l.add(s)
print("La longitud es:",len(l))

La longitud es: 24

* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [81]:
lista = []
for i in range(5):
    lista.append(sete.randint(1,10))
    if lista[i] in l:
        print("El numero", lista[i],"aparece en el set.")
    else:
        print("El numero", lista[i],"No aparece en el set.")

El numero 4 aparece en el set.
El numero 2 aparece en el set.
El numero 2 aparece en el set.
El numero 10 aparece en el set.
El numero 1 aparece en el set.